<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>chengshi</servlet-name>
    <servlet-class>Huasheng.Skip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chengshi</servlet-name>
    <url-pattern>/Select.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loogin</servlet-name>
    <servlet-class>Huasheng.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loogin</servlet-name>
    <url-pattern>/helpLoogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>regist</servlet-name>
    <servlet-class>Huasheng.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regist</servlet-name>
    <url-pattern>/helpRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sold</servlet-name>
    <servlet-class>Huasheng.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sold</servlet-name>
    <url-pattern>/sell</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gouwuche</servlet-name>
    <servlet-class>Huasheng.Cartservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gouwuche</servlet-name>
    <url-pattern>/carts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mai</servlet-name>
    <servlet-class>Huasheng.Bought</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mai</servlet-name>
    <url-pattern>/buy</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>shan</servlet-name>
    <servlet-class>Huasheng.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shan</servlet-name>
    <url-pattern>/deletee</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>sousou</servlet-name>
    <servlet-class>Huasheng.Searchac</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sousou</servlet-name>
    <url-pattern>/Searching</url-pattern>
  </servlet-mapping>
</web-app>